<div class="top-navigation d-flex align-items-center justify-content-between ms-5 me-5 w-100">
    <div class="search-box">
        <i class="fa fa-search ms-2 me-2"></i>
        <input type="text" name="search" id="search" placeholder="Search" class="border-0">
    </div>
    <div class="profile d-flex align-items-center justify-content-center">
        <small class="ms-3 me-3">
            <p class="m-0">ENG <i class="fa fa-caret-down ms-1 me-1"></i></p>
        </small>
        <i class="far fa-message ms-1 me-1"></i>
        <i class="far fa-bell ms-3 me-3"></i>
        <div class="profile-image overflow-hidden ms-1 me-1">
            <img src="../../assets/person.jpeg" alt="profile-image" width="35">
        </div>
        <small class="ms-1 me-1">
            <p class="m-0 text-secondary">Raviteja Panuganti<i class="fa fa-caret-down ms-1 me-1"></i></p>
        </small>
    </div>
</div>