<div class="d-flex w-100">
  <app-left-navigation></app-left-navigation>
  <div class="mainBody w-100">
    <app-top-navigation class="d-flex bg-white"></app-top-navigation>
    <div class="main-body p-4">
      <app-top-data-cards></app-top-data-cards>
      <div class="d-flex mt-4 mb-2 container-fluid">
        <app-recent-orders></app-recent-orders>
        <app-new-users class="w-100"></app-new-users>
      </div>
      <div class="graphs mt-4">
        <app-graphs></app-graphs>
      </div>
    </div>
  </div>
</div>