<div class="left-navigation d-flex flex-column">
    <div class="manu-icon p-4">
        <i class="fa fa-bars fa-xl text-white"></i>
    </div>
    <div class="left-navbar-icons d-flex flex-column align-items-center justify-content-center mt-4">
        <i class="far fa-user mt-3 mb-3"></i>
        <i class="fa fa-clone mt-3 mb-3"></i>
        <i class="far fa-paste mt-3 mb-3"></i>
        <i class="fa fa-cog mt-3 mb-3 text-primary"></i>
        <i class="fa fa-download mt-3 mb-3"></i>
        <i class="fa fa-upload mt-3 mb-3"></i>
    </div>
</div>